alembic
fastapi
uvicorn
psycopg2-binary
pymysql
sqlalchemy
uv
chromadb
cryptography
python-dotenv
pymongo
dnspython
auth
logging
DBUtils
google-genai>=1.28.0
sentence-transformers
torch
numpy
pydantic